<h1>Minha Lista:</h1>

<div class="lista"></div>

<div class="container mt-5">
    <h2>Formulário de Dados</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control form-control-sm" id="nome" name="nome">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="idade">Idade:</label>
                <input type="number" class="form-control form-control-sm" id="idade" name="idade">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="nascimento">Data de Nascimento:</label>
                <input type="date" class="form-control form-control-sm" id="nascimento" name="nascimento">
            </div>
        </div>
    </div>
    <br />
    <button name="btnEnviar" id="btnEnviar" class="btn btn-success btn-sm btnEnviarDados"> Enviar </button>
</div>

<script>

    $(".lista").load("/Teste/PreencherLista");

    $(".btnEnviarDados").click(function () {

        //var lista = $("#hfLista").val();
        var lista = JSON.parse($("#hfLista").val());

        var nome = $("#nome").val();
        var idade = $("#idade").val();
        var nascimento = $("#nascimento").val();

        var novoItem = {
            nome: nome,
            idade: parseInt(idade),
            nascimento: nascimento
        };

        lista.push(novoItem);

        $.ajax({
            type: "POST",
            url: "/Teste/Insert", // A URL do método no controlador que receberá os dados
            contentType: "application/json", // Define o tipo de conteúdo como JSON
            data: JSON.stringify(lista), // Os dados a serem enviados (serializados como JSON)
            success: function (response) {
                $(".lista").html(response);
            },
            error: function (xhr, status, error) {
                console.log("Erro:", error);
            }
        });

    });


</script>